body {
  font-family: Arial, sans-serif;
  background-color: #ffe7cf;
  color: #67412e;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #e4c4ab;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #67412e;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #67412e;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e4c4ab;
}

td {
  background-color: #ffe7cf;
}

.delete-btn {
  background-color: #67412e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #67412e;
}
